<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background: skyblue;
        font-family: verdana;
        color: #fff;
        padding: 30px;
      }
      h1 {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
      }
      h2 {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
      }
      ul {
        max-width: 7rem;
        margin: 0 auto;
      }
      p,
      li {
        font-size: 25px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <% include partials/nav.ejs %>

    <h1>User profile of <%= person %></h1>
    <p><strong>Age:</strong><%= data.age %></p>
    <p><strong>Job:</strong><%= data.job %></p>
    <h2>Hobbies</h2>
    <ul>
      <% data.hobbie.forEach(item =>{%>
      <li><%= item %></li>
      <%}); %>
    </ul>
  </body>
</html>
